.containerSearch {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1680px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.topic {
  color: #2f9bdb;
  font-size: 3rem;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.search {
  width: 100%;
  border: 1px solid black;

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

  border: none;
  border-bottom: 2px solid #e4e4e4;

  outline-style: none;
}

.search::placeholder {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .searchBox {
    width: 80%;
  }
  .topic {
    font-size: 2rem;
  }
  .searchLabel {
    font-size: 0.8rem;
  }

}
